# [START swagger]
swagger: "2.0"
info:
  description: "A simple Google Cloud Endpoints API example."
  title: "Endpoints Example"
  version: "1.0.0"
host: "scores-api.endpoints.rugby-scores-7.cloud.goog"
# [END swagger]
basePath: "/"
consumes:
- "application/json"
produces:
- "application/json"
schemes:
- "http"
security:
- api_key: []
paths:
  "/echo":
    post:
      description: "Echo back a given message."
      operationId: "echo"
      produces:
      - "application/json"
      responses:
        200:
          description: "Echo"
          schema:
            $ref: "#/definitions/echoMessage"
      parameters:
      - description: "Message to echo"
        in: body
        name: message
        required: true
        schema:
          $ref: "#/definitions/echoMessage"
      security:
      - api_key: []
  /pilot:
    get:
      tags:
        - pilot
      operationId: findPilots
      parameters:
        - name: since
          in: query
          type: integer
          format: int64
        - name: limit
          in: query
          type: integer
          format: int32
          default: 20
      responses:
        200:
          description: list the pilots
          schema:
            type: array
            items:
              $ref: "#/definitions/pilot"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
    post:
      tags:
        - pilot
      operationId: addOnePilot
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/pilot"
      responses:
        201:
          description: Created
          schema:
            $ref: "#/definitions/pilot"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /pilot/{id}:
    parameters:
      - type: integer
        format: int64
        name: id
        in: path
        required: true
    put:
      tags:
        - pilot
      operationId: updateOnePilot
      parameters:
        - name: body
          in: body
          schema:
            $ref: "#/definitions/pilot"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/pilot"
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
    delete:
      tags:
        - pilot
      operationId: destroyOnePilot
      responses:
        204:
          description: Deleted
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  "/auth/info/firebase":
    get:
      description: "Returns the requests' authentication information."
      operationId: "authInfoFirebase"
      produces:
      - "application/json"
      responses:
        200:
          description: "Authentication info."
          schema:
            $ref: "#/definitions/authInfoResponse"
      security:
      - firebase: []
definitions:
  pilot:
    type: object
    required:
      - lastName
    properties:
      id:
        type: integer
        format: int64
        readOnly: true
      firstName:
        type: string
        minLength: 1
      lastName:
        type: string
        minLength: 1
      licensed:
        type: boolean
  echoMessage:
    properties:
      message:
        type: "string"
  authInfoResponse:
    properties:
      id:
        type: "string"
      email:
        type: "string"
  principal:
    type: string
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string
# This section requires all requests to any path to require an API key.
securityDefinitions:
  # This section configures basic authentication with an API key.
  api_key:
    type: "apiKey"
    name: "key"
    in: "query"
  # This section configures authentication using Firebase Auth.
  firebase:
    authorizationUrl: "https://changemeplz.com"
    flow: "implicit"
    type: "oauth2"
    x-google-issuer: "https://securetoken.google.com/rugby-scores-7"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "rugby-scores-7"
